<!DOCTYPE html>
<html>
<head>
	<title>Insert Title Here Again</title>
	<link rel='stylesheet' href='/stylesheets/games.css' />
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body id='scratch'>
	<div class= 'topbar'>
		<div id='color_bg'>
			<div class = 'color_all' id='color_1'></div><div class = 'color_all' id='color_2'></div><div class = 'color_all' id='color_3'></div><div class = 'color_all' id='color_4'></div>
		</div>
		<div class='home' onclick="location.href='/';">Go Home</div>
	</div>
	<div class='navi_bar'>
		<div class='splash'></div>
	</div>
	<div class='text'>
		Games? What games?
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>