<!DOCTYPE html>
<html>
<head>
	<title>Insert Title of Webpage</title>
	<link rel='stylesheet' href='/stylesheets/global.css' />
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class= 'top'>
		<div id='color_bg'>
			<div class = 'color_all' id='color_1'></div><div class = 'color_all' id='color_2'></div><div class = 'color_all' id='color_3'></div><div class = 'color_all' id='color_4'></div>
		</div>
		<div id='overlay'></div>
		<span id='top_title'>PRO</span>
	</div>
	<div class = 'nav'>
		<div class='nav_splash'></div>
		<div class='nav_div'>
			<div class = 'main_button' id='art' onclick="location.href='art';">Art</div>
			<div class = 'main_button' id='music' onclick="location.href='music';">Music</div>
			<div class = 'main_button' id='games' onclick="location.href='games';">Games</div>
			<div class = 'main_button' id='shop' onclick="location.href='shop';">Shop</div>
			<div class='nav_color'></div>
		</div>
	</div>
	<div class="billboard carousel slide" data-ride="carousel" data-interval="5000">
		<div class="carousel-inner">
			<div class="carousel-item active" style ="background-image: url('https://images.pexels.com/photos/285286/pexels-photo-285286.jpeg?cs=srgb&dl=black-and-white-railroad-railway-285286.jpg&fm=jpg');">
				<div class='bill_text'>This text is in Bill</div>
			</div>
			<div class="carousel-item" style ="background-image: url('https://iso.500px.com/wp-content/uploads/2015/12/bwcover.jpg');">
				<div class='bill_text'>This text is in Bill</div>
		</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</body>
	</html>
