#scratch{
	background-color: rgb(200,200,200);
	background-image: url('../images/scratch.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.home{
	position: absolute;
	bottom: 0;
	color: white;
	font-size: 30px;
	margin: 20px;
	padding: 0px 10px;
	cursor: pointer;
	border-left: 5px solid white;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;
}
.home:hover{
	background: rgba(255,255,255,0.3);
}
.splash{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('../images/splashes.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	pointer-events: none;
	z-index: 0;
}
.topbar{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#color_bg{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: -1;
}
.color_all{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	height: 100%;
	width: 25%;
}
#color_1{	
	background: #d3698c;
}
#color_2{
	background: #69aad3;
}
#color_3{
	background: #69d369;
}
#color_4{
	background: #d3a269;
}
.navi_bar{
	position: relative;
	width: 100%;
	min-height: 100px;
	background: #d3698c;
	text-align: center;
	padding: 10px 0px;
}
.image{
	min-width: 300px;
	min-height: 300px;
	background: grey;
	display: inline-block;
	position: relative;
	margin: 10px;
}
.appear{
	opacity: 0;
}
.image:hover > .appear{
	opacity: 1;
}
.button2{
	display: inline-block;
	border: 2px solid #69aad3;
	float: right;
	margin: 0px 5px;
	min-width: 150px;
	text-align: center;
	padding: 0px 5px;
	color: white;
	cursor: pointer;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;
}
.button2:hover{
	background: rgba(255,255,255,0.4);
}
.button3{
	display: inline-block;
	margin: 0px 5px;
	min-width: 150px;
	text-align: center;
	padding: 0px 10px;
	color: black;
	cursor: pointer;
	background: white;
	-webkit-transition: background 1s, opacity 1s;
	-o-transition: background 1s, opacity 1s;
	transition: background 1s, opacity 1s;
	position: absolute;
	bottom: 0;
}
.button3:hover{
	background: rgba(255,255,255,0.4);
}
.wall{
	padding: 50px;
	text-align: center;
}