#scratch{
	background-color: rgb(200,200,200);
	background-image: url('../images/scratch.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.home{
	position: absolute;
	bottom: 0;
	color: white;
	font-size: 30px;
	margin: 20px;
	padding: 0px 10px;
	cursor: pointer;
	border-left: 5px solid white;
	transition: background 1s;
}
.home:hover{
	background: rgba(255,255,255,0.3);
}
.splash{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('../images/splashes.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	pointer-events: none;
	z-index: 0;
}
.topbar{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#color_bg{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: -1;
}
.color_all{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	height: 100%;
	width: 25%;
}
#color_1{	
	background: #d3698c;
}
#color_2{
	background: #69aad3;
}
#color_3{
	background: #69d369;
}
#color_4{
	background: #d3a269;
}
.navi_bar{
	position: relative;
	width: 100%;
	min-height: 100px;
	background: #69d369;
	text-align: center;
	padding: 10px 0px;
}
.text{
	text-align: center;
	font-size: 50px;
	color: white;
}