body{
	background-color: #111;
	padding: 0px;
	margin: 0px;
}
.bg{
	margin: 0px;
	padding: 10px;
	background: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)), url(../bg.jpg);
	background-size: cover;

}
@font-face {
	font-family: "head";
	src: url(../font.woff);
}

.head{
	font-family: "head";
	text-align: center;
	font-size: 6em;
	color: white;
	margin: 50px 0px 0px 0px;
	text-shadow: -7px 5px #000;
	margin: 0px;
}


.albulm_art{
	font-family: "head";
	font-size: 20px;
	margin: 30px 0px;
	background-size: cover !important;
	overflow: auto;
	border-radius: 10px;
	text-align: left;
	padding: 20px 40px;
	border: 3px solid #333;

}
.title{
	color: white;
	margin: 10px;
	font-size: 2em;
	font-weight: 900;
}
.songs{
	color: white;
	background-color: rgba(1,1,1,0.5);
	padding: 5px 10px;
	border-radius: 10px;
	display: none;
}

#download{
	background: #111;
	border-radius: 5px;
	width: 100px;
	padding: 1px 5px;
	font-size: 25px;
	text-align: center;
	float: right;
	color: white;
}

.expand{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: black;
	float: right;
	text-decoration: none;
	border: none;
	color: white
}
a{
	text-decoration: none;
	color: white;
}
li{
	display: inline-block;
	list-style: none;
	margin: 5px 0px;
	font-size: 2em;
	border-radius: 5px;
	width: 220px;
}
li:hover{
	background: #555;
	color: white;
}
.bar{
	background: rgba(1,1,1,0.5);
	padding: 5px;
	border-radius: 10px;
}
.barul{
	font-family: "head";
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.baractive{
	background: white;
	color: black;
}
.barinactive{
	background: #111;
	color: white;
}