
body{
	background-color: #111;
	padding: 0px;
	margin: 0px;
}

.bg{
	margin: 0px;
	padding: 10px;
	background: linear-gradient(rgba(40, 122, 39, 0.7), rgba(40, 122, 39, 0.7)), url(../bg.jpg);
}
@font-face {
	font-family: "head";
	src: url(../font.woff);
}
a{
	text-decoration: none;
	color: white;
}

.head{
	font-family: "head";
	text-align: center;
	font-size: 6em;
	color: white;
	text-shadow: -7px 5px #000;
	margin: 0px;
	padding: 20%;
}